.nav {
  @media (max-width: 565px) {
    display: none;
  }

  &__items {
    display: flex;
    background: $c-grey-blue;
    border: solid 1px $c-grey-blue-dark;
    padding: 12px 8px;
    border-radius: 5px;
  }

  &__item {
    @include font-bold;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin-right: 20px;
    color: $c-white;
    padding-bottom: 2px;
    border-bottom: solid 1px transparent;
    transition: border-bottom $transitionDuration;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      cursor: pointer;
      border-bottom: solid 1px $c-white;
    }
  }

  &__item--active {
    border-bottom: solid 1px $c-white;
  }
}
