@import './utils/resets.scss';
@import './utils/fonts.scss';
@import './utils/vars.scss';
@import './utils/mixins.scss';

@import './blocks/container.scss';
@import './blocks/top.scss';

@import './blocks/header/header.scss';
@import './blocks/header/log-reg.scss';
@import './blocks/header/cart.scss';
@import './blocks/header/search.scss';

@import './blocks/nav.scss';
@import './blocks/nav-mobile.scss';

* {
  box-sizing: border-box;
}

body {
  @include font-regular;
  color: $c-grey-blue;
  font-size: 16px;

  position: relative;

  &::-webkit-scrollbar {
    max-width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: $c-grey-light;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $c-grey-blue;
    border-radius: 10px;
  }
}
