html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
button {
  outline: none;
  border: none;
  padding: 0;
}

@font-face {
  font-family: 'SegoeUIRegular';
  src: url("../fonts/SegoeUIRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUIBold';
  src: url("../fonts/SegoeUIBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.top {
  background: #ffa900;
  color: #fff;
  font-size: 16px;
}

.top__line {
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 900px) {
  .top__line {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 0;
  }
}

.top__text {
  font-size: 16px;
  line-height: 22px;
  text-align: left;
}

@media (max-width: 900px) {
  .top__text {
    padding-bottom: 10px;
  }
}

@media (max-width: 900px) {
  .top__text:last-child {
    padding-bottom: 0;
  }
}

.top__text--bold {
  font-size: 20px;
  font-family: 'SegoeUIBold', sans-serif;
}

.header {
  background: #fff;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 38px 0;
  flex-wrap: wrap;
}

@media (max-width: 565px) {
  .header__wrap {
    padding-bottom: 15px;
  }
}

.header__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 565px) {
  .header__items {
    flex-direction: column;
    align-items: flex-start;
    min-width: 100%;
  }
}

.header__item {
  margin-right: 20px;
}

@media (max-width: 565px) {
  .header__item {
    display: flex;
    justify-content: center;
    min-width: 100%;
    margin-bottom: 4px;
  }
}

.header__item:last-child {
  margin-right: 0;
}

@media (max-width: 565px) {
  .header__item:last-child {
    margin-bottom: 0;
  }
}

.header__info {
  border-right: solid 2px #d4d4d4;
  padding-right: 20px;
}

@media (max-width: 565px) {
  .header__info {
    border-right: none;
    margin-bottom: 20px;
    padding-right: 0;
    text-align: center;
    position: relative;
  }
}

.header__info--left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 100%;
}

.header__info-title {
  font-family: 'SegoeUIBold', sans-serif;
  font-size: 26px;
  padding-bottom: 5px;
}

.header__info-subtitle {
  font-size: 16px;
}

.header__info-btn {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}

@media (max-width: 565px) {
  .header__info-btn {
    display: block;
  }
}

.log-reg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.log-reg__item {
  padding: 0 10px;
  transition: color 600ms;
}

.log-reg__item:hover {
  cursor: pointer;
  color: #ffa900;
}

.log-reg__item:last-child {
  padding-right: 0;
}

.cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 565px) {
  .cart {
    margin-left: -132px;
  }
}

.cart__titile {
  padding-left: 10px;
  font-size: 18px;
  transition: color 600ms;
}

.cart__titile:hover {
  cursor: pointer;
  color: #ffa900;
}

.search {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 780px) {
  .search {
    min-width: 100%;
    margin-top: 20px;
  }
}

.search__input {
  border-radius: 30px;
  padding: 6px 10px;
  border: solid 1px #d4d4d4;
  color: #9b9ea6;
  font-size: 14px;
  letter-spacing: 0.5px;
}

@media (max-width: 780px) {
  .search__input {
    min-width: 100%;
  }
}

.search__input::placeholder {
  color: #9b9ea6;
}

.search__icon-wrap {
  position: absolute;
  right: 5px;
}

.search__icon-wrap:hover {
  cursor: pointer;
}

@media (max-width: 565px) {
  .nav {
    display: none;
  }
}

.nav__items {
  display: flex;
  background: #4f5565;
  border: solid 1px #353a45;
  padding: 12px 8px;
  border-radius: 5px;
}

.nav__item {
  font-family: 'SegoeUIBold', sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin-right: 20px;
  color: #fff;
  padding-bottom: 2px;
  border-bottom: solid 1px transparent;
  transition: border-bottom 600ms;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__item:hover {
  cursor: pointer;
  border-bottom: solid 1px #fff;
}

.nav__item--active {
  border-bottom: solid 1px #fff;
}

.nav-mobile {
  display: none;
  background: #4f5565;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  min-width: 100%;
  min-height: 100vh;
  transform: translateX(-100%);
  transition: transform 600ms;
}

.nav-mobile--active {
  transform: translateX(0);
}

.nav-mobile__close {
  position: absolute;
  right: 20px;
  top: 20px;
}

.nav-mobile__items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: 'SegoeUIBold', sans-serif;
  font-size: 22px;
}

.nav-mobile__item {
  margin-bottom: 20px;
  padding-bottom: 4px;
  border-bottom: solid 2px transparent;
  transition: border-bottom 600ms;
}

.nav-mobile__item:hover {
  cursor: pointer;
  border-bottom: solid 2px #fff;
}

.nav-mobile__item:last-child {
  margin-bottom: 0;
}

.nav-mobile__item--active {
  border-bottom: solid 2px #fff;
}

.content {
  padding-top: 30px;
}

.content__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
}

@media (max-width: 780px) {
  .content__wrap {
    flex-wrap: wrap;
  }
}

.aside {
  flex: 0 1 280px;
}

@media (max-width: 780px) {
  .aside {
    flex: 0 1 100%;
  }
}

.price-widget {
  margin-bottom: 30px;
}

.price-widget__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
  font-size: 18px;
}

.price-widget__row:last-child {
  margin-bottom: 0;
}

.price-widget__label {
  font-family: 'SegoeUIBold', sans-serif;
}

.price-widget__reset {
  color: #9b9ea6;
  transition: color 600ms;
}

.price-widget__reset:hover {
  cursor: pointer;
  color: #ffa900;
}

.price-widget__input {
  font-family: 'SegoeUIBold', sans-serif;
  padding: 7px 10px 7px;
  color: #4f5565;
  border: solid 1px #d4d4d4;
  border-radius: 5px;
  max-width: 80px;
}

@media (max-width: 780px) {
  .price-widget__input {
    min-width: 35%;
  }
}

.price-widget__dash {
  margin: 0 5px;
}

.price-widget__btn {
  margin-left: 10px;
  padding: 8px 16px;
  border-radius: 3px;
  background: #4f5565;
  color: #fff;
  letter-spacing: 0.8px;
  cursor: pointer;
  transition: 600ms;
}

.price-widget__btn:hover {
  background: #ffa900;
}

.stock-widget {
  font-size: 18px;
  margin-bottom: 30px;
  border: solid 1px #d4d4d4;
  border-radius: 5px;
}

.stock-widget__item {
  padding: 15px 20px;
  border-bottom: solid 1px #d4d4d4;
  font-size: 16px;
  transition: color 600ms;
}

.stock-widget__item:last-child {
  border-radius: 0 0 5px 5px;
  border-bottom: none;
}

.stock-widget__item:hover {
  color: #ffa900;
  cursor: pointer;
}

.stock-widget__title {
  font-family: 'SegoeUIBold', sans-serif;
  background-color: #f1f1f1;
  border-radius: 5px 5px 0 0;
}

.stock-widget__amount {
  font-family: 'SegoeUIBold', sans-serif;
}

.categories-widget {
  font-size: 18px;
  margin-bottom: 30px;
  position: relative;
  border: solid 1px #d4d4d4;
  padding: 0 20px;
  border-radius: 5px;
}

.categories-widget__item {
  padding: 15px 0;
  border-bottom: solid 1px #d4d4d4;
  font-size: 16px;
  transition: color 600ms;
}

.categories-widget__item:last-child {
  border-bottom: none;
}

.categories-widget__item:hover {
  color: #ffa900;
  cursor: pointer;
}

.categories-widget__title {
  font-family: 'SegoeUIBold', sans-serif;
  border: none;
  margin-top: 10px;
  margin-bottom: 15px;
}

.categories-widget__title::after {
  content: '';
  width: 36px;
  height: 2px;
  background: #4f5565;
  position: absolute;
  left: 20px;
  top: 55px;
}

.categories-widget__amount {
  font-family: 'SegoeUIBold', sans-serif;
}

.product-of-week {
  position: relative;
  margin-bottom: 30px;
}

.product-of-week__title {
  font-size: 18px;
  font-family: 'SegoeUIBold', sans-serif;
  border: none;
  margin-top: 10px;
  margin-bottom: 50px;
  padding-left: 20px;
}

.product-of-week__title::after {
  content: '';
  width: 36px;
  height: 2px;
  background: #4f5565;
  position: absolute;
  left: 20px;
  top: 34px;
}

.product-of-week__wrap {
  border: solid 1px #d4d4d4;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-of-week__img {
  max-width: 100%;
}

.product-of-week__descr {
  text-align: center;
  padding: 15px 0;
  line-height: 20px;
}

.button-dark {
  background: #4f5565;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'SegoeUIBold', sans-serif;
  color: #fff;
  padding: 5px 8px;
  border-radius: 3px;
  font-size: 15px;
  cursor: pointer;
  transition: background 600ms;
}

.button-dark:hover {
  background: #353a45;
}

.button-dark__text {
  padding-left: 5px;
}

.main-content {
  margin-left: 30px;
  flex: 0 1 80%;
}

@media (max-width: 780px) {
  .main-content {
    flex: 0 1 100%;
    margin-left: 0;
  }
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  margin-bottom: 20px;
  border: solid 1px #d4d4d4;
  border-radius: 5px;
  font-family: 'SegoeUIBold', sans-serif;
  color: #383838;
}

.breadcrumbs__item {
  position: relative;
  margin: 5px 0;
  margin-right: 24px;
  transition: color 600ms;
}

.breadcrumbs__item:hover {
  cursor: pointer;
  color: #ffa900;
}

.breadcrumbs__item:last-child {
  margin-right: 0;
}

.breadcrumbs__item:after {
  content: '';
  background: url("../../../img/main/breadcrumbs-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 4px;
  right: -14px;
  min-height: 11px;
  min-width: 6px;
}

.breadcrumbs__item:last-child::after {
  display: none;
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
  margin-bottom: 20px;
  border: solid 1px #d4d4d4;
  border-radius: 5px;
  font-family: 'SegoeUIBold', sans-serif;
}

.filters__products {
  color: #383838;
}

.filters__label {
  color: #383838;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'SegoeUIRegular', sans-serif;
  color: #4f5565;
  font-size: 16px;
  position: relative;
}

body::-webkit-scrollbar {
  max-width: 5px;
}

body::-webkit-scrollbar-track {
  background: #d4d4d4;
}

body::-webkit-scrollbar-thumb {
  background-color: #4f5565;
  border-radius: 10px;
}
