// colors

$c-white: #fff;
$c-black: #383838;
$c-orange: #ffa900;
$c-orange-dark: #d18c00;
$c-grey-blue: #4f5565;
$c-grey-blue-dark: #353a45;
$c-grey-dark: #9b9ea6;
$c-grey-light: #d4d4d4;
$c-grey-lighten: #f1f1f1;
$c-red: #f84147;
$c-red-tr: rgba(248, 65, 71, 0.8);
$c-magenta: #be3a97;

$transitionDuration: 600ms;
